<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <p>Component Interaction</p>
  <div class="alert alert-success" role="alert">Input</div>
  <my-heroes></my-heroes>
  <div class="alert alert-success" role="alert">Get/Set</div>
  <name-parent></name-parent>
  <div class="alert alert-success" role="alert">ngOnChanges</div>
  <version-parent></version-parent>
  <div class="alert alert-success" role="alert">Parent listens for child event</div>
  <event-parent></event-parent>
  <div class="alert alert-success" role="alert">Local variable</div>
  <local-parent></local-parent>
  <div class="alert alert-success" role="alert">ViewChild</div>
  <view-parent></view-parent>
</div>

